GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='gemini-embedding-2'
GEMINI_CHAT_MODEL='gemini-3-flash-preview'
DATABASE_URL='postgresql+psycopg://postgres:postgres@localhost:5432/rag'
PG_VECTOR_COLLECTION_NAME='documents'
PDF_PATH='document.pdf'
GRPC_DEFAULT_SSL_ROOTS_FILE_PATH=
REQUESTS_CA_BUNDLE=